@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.apply-card {
  padding-left: 13px;
  padding-right: 19px;
}

.button-wrapper {
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.material-icons {
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 30px; /* Preferred icon size */
  transform: rotate(180deg);
  color: #1e86ff;
  margin: 0;
  cursor: pointer;
  &:hover {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.button {
  border: none;
  outline: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #1e86ff;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    text-decoration: underline;
  }
}

.applay-wrapper {
  display: block;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #b9bdcf;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.text {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #334680;
  word-break: break-word;
}
