.radio-wrapper{
    margin-bottom: 50px;
}

.label {
    margin-bottom: 15.67px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #334680;
    padding-left: 12px;
  }
  