@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.search {
  background-image: url("../../assets/backgroundImg.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 138px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-width: 500px;
}
.input-wrapper {
  position: relative;
  margin: 0 19px;
  padding: 19px 0px 22px 40px;
  width: 100%;
  max-width: 790px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  &::placeholder {
    color: #B9BDCF;
  }
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 48px;
  height: 52px;
  background-color: #1e86ff;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  color: white;
  cursor: pointer;
  transition: all 0.2;
  &:hover {
    opacity: 0.8;
  }
}

.material-icons {
  font-size: 15px;  /* Preferred icon size */
  color: #B9BDCF;
  position: absolute;
  left: 17.5px;
  top: 22px;
}