@import "./styles/main.scss";

body {
  background-color: #f6f7fb;
  margin: 0;
  padding:0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.logo-wrapper {
  margin: 32px 0;
  cursor: pointer;
}

.margin-bottom--8 {
  margin-bottom: 8px;
}

.margin-bottom--16 {
  margin-bottom: 10px;
}

.margin-bottom--24 {
  margin-bottom: 12px;
}

.margin-bottom--32 {
  margin-bottom: 32px;
}
