
.input-wrapper {
    position: relative;
    height: 60px;
    padding: 0 45px 0 45px;
    max-width: 289px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 24px;
  }

.input {
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding: 0;
    width: 80%;
    font-size: 12px;
    line-height: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    &::placeholder {
      color: #B9BDCF;
    }
  }
  .material-icons {
    font-size: 15px;  /* Preferred icon size */
    color: #B9BDCF;
    position: absolute;
    left: 17.5px;
    top: 21px;
  }