$MainBlue: #334680;
$MainGrey: #b9bdcf;

.card {
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 32px;
  min-width: 350px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 90%;
  border-radius: 4px;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.title {
  font-size: 18px;
  line-height: 21px;
  color: $MainBlue;
  cursor: pointer;
  margin: 0;
  margin-bottom: 12px;
  transition: all 0.2s;
  &:hover {
    opacity: 0.6;
  }
}

.title--company {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 8px;
}

.fullTime {
  display: inline-block;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $MainBlue;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid $MainBlue;
}

.logo {
  max-height: 90px;
  margin-right: 12px;
}

.company-wrapper {
  display: flex;
  text-align: left;
}

.company {
  display: flex;
  flex-direction: column;
}

.icons-box {
  display: flex;
  justify-content: flex-end;
}

.icon-wrapper {
  position: relative;
  padding-left: 20px;
  color: $MainGrey;
}

.material-icons {
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 15px;
  padding-right: 8px;
}
.text-icons {
  font-size: 12px;
  font-weight: 500;
  padding-right: 8px;
}

@media only screen and (max-width: 770px) {
  .icons-box {
    justify-content: flex-start;
  }
  .title {
    font-size: 16px;
  }
  .title--company {
    font-size: 12px;
  }
  .button {
    margin-bottom: 21px;
  }
}
